.wrapper {
  width: 800px;
  height: 400px;
  background-color: white;
  position: relative;

  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  
  box-shadow: 0 0 10px gray;
}